@{
	RenderPage("../HeaderFile.cshtml");
	var employeeID = Request.QueryString["employeeID"];
	var type = Request.QueryString["form_type"];
	Database db = Database.Open("HR_System");
	var sql = "SELECT * FROM tbl_employeeRole";
	var rolesResult = db.Query(sql);
	dynamic employeeResult = null;


	var employeeName = "";
	var employeeContactNo = "";
	var employee_id_no = "";
	var employeeAddress1 = "";
	var employeeAddress2 = "";
	var employeeAddress3 = "";
	var employeeAddress4 = "";
	var employeeRole = "";
	var employeeEntitledLeave = 0;
	var old_employeeEntitledLeave = 0;
	var employeeNoOfLeaveLeft = 0;
	var employeeMedicalLeave = 0;
	var old_employeeMedicalLeave = 0;
	var employeeNoOfMedicalLeaveLeft = 0;
	var status = "";

	if(type == "EDIT"){
	if(!String.IsNullOrEmpty(employeeID)){
		sql = "SELECT TOP 1 * FROM tbl_EmployeeInfo WHERE ID = @0";
		employeeResult = db.QuerySingle(sql,employeeID);

		employeeName = employeeResult.employeeName;
		employeeContactNo = employeeResult.contact_no;
		employee_id_no = employeeResult.id_no;
		employeeAddress1 = employeeResult.address_1;
		employeeAddress2 = employeeResult.address_2;
		employeeAddress3 = employeeResult.address_3;
		employeeAddress4 = employeeResult.address_4;
		employeeNoOfLeaveLeft = employeeResult.annual_leave_bal;
		employeeNoOfMedicalLeaveLeft = employeeResult.medical_leave_bal;
		employeeEntitledLeave = employeeResult.no_of_annual_leave;
		employeeMedicalLeave = employeeResult.no_of_medical_leave;
		old_employeeEntitledLeave = employeeResult.no_of_annual_leave;
		old_employeeMedicalLeave = employeeResult.no_of_medical_leave;
		employeeRole = employeeResult.role;
		status = employeeResult.status;
		}
	}
}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        @RenderPage("../css.cshtml")
    </head>
    <body>
	<form action="Employee_Details_Save.cshtml" id="Employee_Register_Save" method="post" name="Employee_Register_Save" target="">
		<!--Just to pass value to save file-->
		<input class="form-control" id="employee_id" name="employee_id" type="hidden" value="@employeeID">
		<input class="form-control" id="employee_no_leave_left" name="employee_no_leave_left" type="hidden" value="@employeeNoOfLeaveLeft">
		<input class="form-control" id="employee_old_entitled_leave" name="employee_old_entitled_leave" type="hidden" value="@old_employeeEntitledLeave">
		<input class="form-control" id="employee_no_medical_leave_left" name="employee_no_medical_leave_left" type="hidden" value="@employeeNoOfMedicalLeaveLeft">
		<input class="form-control" id="employee_old_mdeical_leave" name="employee_old_mdeical_leave" type="hidden" value="@old_employeeMedicalLeave">
		<input class="form-control" id="form_type" name="form_type" type="hidden" value="@type">
		<div id="wrapper">
			<div id="page-wrapper" style="background-color:#fff; margin: 0px 0px 0px 0px">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="page-header">Employee Registration</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								Add New Employee
							</div>
							<div class="panel-body">
								<div class="row">
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Employee's Name
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="employee_name" name="employee_name" type="text" value="@employeeName" required>
														</div>
													</div>
											</div>
										</div>
										@{
											if(type =="NEW"){
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Employee's Username
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="employee_username" name="employee_username" type="text" required>
														</div>
													</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Employee's Password
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="employee_password" name="employee_password" type="password" required>
														</div>
													</div>
											</div>
										</div>
									}
									}
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Employee's Contact Number
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="employee_contact_no" name="employee_contact_no" type="text" value = "@employeeContactNo" required>
														</div>
													</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Employee's IC / Passport
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="employee_id_no" name="employee_id_no" type="text" value = "@employee_id_no" required>
														</div>
													</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Employee's Address 1
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="employee_address_1" name="employee_address_1" maxlength="35" placeholder="Only 35 Characters" type="text" value = "@employeeAddress1">
														</div>
													</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Employee's Address 2
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="employee_address_2" name="employee_address_2" maxlength="35" placeholder="Only 35 Characters" type="text" value = "@employeeAddress2">
														</div>
													</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Employee's Address 3
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="employee_address_3" name="employee_address_3" maxlength="35" placeholder="Only 35 Characters" type="text" value = "@employeeAddress3">
														</div>
													</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Employee's Address 4
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="employee_address_4" name="employee_address_4" maxlength="35" placeholder="Only 35 Characters" type="text" value = "@employeeAddress4">
														</div>
													</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Employee's Role
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<select class="form-control" id="employee_role" name="employee_role" value = "@employeeRole" required>
																@{
  															foreach(var r in rolesResult){
																if(employeeRole == r.Role){
																		<option value=@r.Role selected>@r.Role</option>
																	}else{
																		<option value=@r.Role>@r.Role</option>
																	}
  														     }
																 }
															</select>
														</div>
													</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Employee's Entitled Leave
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="employee_entitled_leave" name="employee_entitled_leave" type="number" placeholder="Only Numbers are allowed" type="text" value = "@employeeEntitledLeave" required>
														</div>
													</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Employee's Entitled Leave
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="employee_medical_leave" name="employee_medical_leave" type="number" placeholder="Only Numbers are allowed" type="text" value = "@employeeMedicalLeave" required>
														</div>
													</div>
											</div>
										</div>
								</div>
								<div class="row" style="text-align: center">
									<div class="col-sm-12">
										<div class="col-sm-3"></div>
											@{
												if(type == "NEW"){
											<button class="btn btn-primary" type="submit" id="submit_button" name = "submit_button">Save New Record</button>
										}else if(type == "EDIT"){
											<div class="col-sm-2">
											<button class="btn btn-primary" type="submit" id="submit_button" name = "submit_button" >Update New Record</button>
										</div>
										 <div class = "col-sm-2">
											 @{
												 if(status == "Active"){
		 											<button class="btn btn-danger" type="submit" id="inactive_button" name = "inactive_button" >Deactivate User</button>
		 										}else{
		 											<button class="btn btn-success" type="submit" id="active_button" name = "active_button" >Active User</button>
		 										}
											 }
										</div>
										}
										}
										<div class="col-sm-2">
											<button class="btn btn-success" onclick="location.href='Employee_Search.cshtml'" type="button">Back</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12"></div>
				</div>
			</div>
		</div>
	</form>
	@RenderPage("../js.cshtml")
</body>
</html>

<script type="text/javascript">
	$( "#inactive_button" ).click(function() {
		document.getElementById('form_type').value = "DEACTIVATE";
		document.getElementById('Employee_Register_Save').submit();
});
$( "#active_button" ).click(function() {
	document.getElementById('form_type').value = "ACTIVATE";
	document.getElementById('Employee_Register_Save').submit();
});
</script>
