@{
	@RenderPage("../HeaderFile.cshtml");
	var form_type = Request.QueryString["form_type"];

	var default_value = "";
	if(form_type == "APPROVAL"){
		default_value = "Pending Approval";
	}else if(form_type == "OWNER"){
		default_value =  Session["username"].ToString();
	}
}<html>
    <head>
        <meta>
        <title></title>
        @RenderPage("../css.cshtml")
    </head>
    <body>
        <form id="Leave_Application_Search_List" name="Leave_Application_Search_List" method="post" action="Leave_Application_Search_List.cshtml?form_type=@form_type&default_username=@default_value" target="Leave_Application_Search_List_Frame">
						<div id="wrapper">
                <div id="page-wrapper" style="background-color:#fff; margin: 0px 0px 0px 0px">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="page-header">Leave Application List</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Applied Leave Search</div>
                                <div class="panel-body">
                                    <div class="row" style="text-align: center">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="form-group">Employee Name</div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
																											@{
																												if(form_type == "OWNER"){
																													<input type="text" class="form-control" id="employee_name" name="employee_name" value="@LoginFunction.getNamebyUsername(default_value)"  disabled>
																												}else{
																													<input type="text" class="form-control" id="employee_name" name="employee_name">
																												}
																											}

                                                    </div>
                                                </div>
                                                <div class="col-sm-1">
                                                  <!--Dummy spacing-->
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">Approval Status</div>
                                                </div>
                                                <div class="col-sm-3">
																									@{
																										if(form_type != "APPROVAL"){
																											<div class="form-group">
																												<select class="form-control" id="leave_approval_status" name="leave_approval_status" value = "" required>
																													<option value="All">All</option>
																													<option value="Approved">Approved</option>
																													<option value="Rejected">Rejected</option>
																													<option value="Pending Approval">Pending Approval</option>
																												</select>
																											</div>
																										}else{
																											<input  class="form-control"  type id="leave_approval_status" name="leave_approval_status" value = "@default_value" disabled>
																										}

																									}

                                                </div>
                                                <div class="col-sm-1">
                                                  <!--Dummy spacing-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="text-align: center">
                                        <div class="col-sm-12">
                                                <button type="submit" class="btn btn-primary">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <iframe name="Leave_Application_Search_List_Frame" id="Leave_Application_Search_List_Frame" src="Leave_Application_Search_List.cshtml?form_type=@form_type&default_username=@default_value" frameborder="0" scrolling="no" onload='resizeIframe(this);' width="100%"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @RenderPage("../js.cshtml")
    </body>
</html>

<script type="text/javascript">

</script>
